/* ---------------------------------FORM ------------------------------------*/
.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85vh;
  justify-content: space-around;
  /* border: 2px solid black; */
}

/*---------------------------- INPUT BOXES ------------------------------*/
.user-input-outer-wrap {
  /*this is what hides each part of the form - don't remove!*/
  display: none;
}

.user-input {
  border-radius: 3rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid #ebfffb;
  background: #ffffff;
  font-family: Livvic, sans-serif;
  margin: 0 0 1.5rem 0;
  max-width: 20rem;
  font-size: 1.1rem;
  padding: 0.7rem;
  text-align: center; /*this keeps the text that user enters centered*/
}

.user-input.invalid {
  background-color: #ffdddd;
}

.user-input-title {
  font-family: Livvic, sans-serif;
  font-size: 1.5rem;
  line-height: 145.6%;
  /* or 36px */
  color: #f4ca18;
  border: 1px solid #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.user-input::placeholder {
  text-align: center;
  font-family: Livvic, sans-serif;
  color: #a2a1a1;
}

.time-and-date-wrap {
  display: flex;
  flex-direction: column;
}

.error {
  color: red;
}

/* --------------------------STEPS/PAGINATION DOTS ---------------------------*/
.step-wrap {
  display: flex;
  flex-direction: row;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #f4ca18;
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
  /* opacity: 0.5; */
  /* box-shadow: inset 0 0 5px #6375b3; */
}

.step.active {
  opacity: 1;
  background-color: #ff3a3a;
}

.step.finish {
  background-color: #f4ca18;
}

/* -----------------------------RADIO BUTTONS -------------------------------*/
.radio-toolbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
  display: inline-block;
  margin: 0.8rem 0;
  border-radius: 3rem;
  padding: 0.8rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid black;
  background: #ffffff;
}

.radio-toolbar input[type="radio"]:checked + label {
  background-color: #f4ca18;
  border-color: black;
}
