/*--------------------------------GENERAL-------------------------------------*/

html {
  box-sizing: border-box;
}

body {
  background: #31f0c8;
  text-align: center;
  font-family: Montserrat, sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

h1 {
  font-family: Fredoka One, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 102.2%;
  text-align: center;
  color: #f4ca18;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px black;
  margin: 1rem auto;
}

p {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 145.6%;
  text-align: center;
  margin: 1rem auto;
}

/*----------------------------------HEADER------------------------------------*/

.header-wrap {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo-only {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30vh;
}

.header-button-wrap {
  align-self: center;
  margin: 20px;
}

.header-button-wrap:visited {
  text-decoration: none;
}

.overlay {
  z-index: 1;
}

.header-button-link-wrap {
  display: flex;
  flex-wrap: wrap;
}

.logo-name {
  font-family: Livvic, sans-serif;
  font-size: 1.3rem;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 1rem auto;
}

.logo {
  width: 8.5vh;
  height: 8.5vh;
}

.question-mark {
  width: 5vh;
  height: 5vh;
}

/* ------------------------------ MAIN ----------------------------------*/
.main-wrap {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
/* ------------------------------ ALERT BOX ----------------------------------*/
.popup-title {
  font-family: Fredoka One, sans-serif;
  font-weight: lighter;
  color: black;
  font-size: 2rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 25px;
}

.popup-home-overlay {
  height: 100vh;
  width: 100vw;
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  /* display: flex;
  justify-content: center; */
}

.popup-home-overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #ffce00;
  border-radius: 5px;
  width: 70vw;
  position: relative;
  transition: all 5s ease-in-out;
  font-family: Montserrat, sans-serif;
  border: 3px solid #000000;
}

/* .popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
} */

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #ff3a3a;
}

.popup .close:hover {
  color: #31f0c8;
}

.popup-content {
  max-height: 100%;
  overflow: auto;
  color: black;
}

.popup-yes-and-no {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* color: white; */
}
.popup-yes,
.popup-no {
  padding: 1rem 1.2rem;
  font-size: 1.4rem;
  cursor: pointer;
  border-radius: 3rem;
  margin: 0.5rem 0.5rem 1rem 0.5rem;

  font-family: Fredoka One, sans-serif;
  align-items: center;
  text-align: center;

  color: #ffffff;
  mix-blend-mode: normal;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.popup-yes:hover {
  background: #31f0c8;
  color: white;
}

.popup-no:hover {
  background: #ff3a3a;
  color: white;
}
/* ------------------------------ BUTTONS ------------------------------------*/

.standard-button {
  width: 8rem;
  padding: 0.8rem;
  font-size: 1rem;
  cursor: pointer;
  margin: 0.5rem 0.5rem 1rem 0.5rem;
  font-family: Fredoka One, sans-serif;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: #ffce00;
  mix-blend-mode: normal;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 0.6px #545252;
  border-radius: 2.5rem 2.5rem 3rem 3rem;
}

.standard-button:hover {
  opacity: 0.8;
}
.learn-more {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  color: #000;
  border: none;
  background: none;
}
.button-nowrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.button-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.highlight {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-size: 1.5rem;
  /* line-height: 145.6%; */
  text-align: center;
  color: #000;
  margin-bottom: 0px;
}

.userB {
  font-family: Fredoka One, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
  line-height: 102.2%;
  text-align: center;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px black;
}
