/*--------------------------------GENERAL-------------------------------------*/

html {
  box-sizing: border-box;
}

body {
  background: #64e291;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

h1 {
  font-family: Cookie, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 83.2%;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

p {
  font-family: Livvic, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 145.6%;
  text-align: center;
  color: #ffffff;
}

/*----------------------------------HEADER------------------------------------*/

.header-wrap {
  display: flex;
  flex-direction: row;
  background-color: red;
}

.header-button-wrap {
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  align-self: center;
}

.header-button-wrap:visited {
  text-decoration: none;
}

.overlay {
  z-index: 1;
}

.header-button-link-wrap {
  display: flex;
  flex-wrap: wrap;
}

.logo-name {
  font-family: Livvic;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 102.9%;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
  width: 50px;
  height: 50px;
}

.question-mark {
  width: 35px;
  height: 40px;
}

.popup-title {
  font-family: "Righteous", cursive;
  font-weight: normal;
}

/* ------------------------------ ALERT BOX ----------------------------------*/

.popup-home-overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  /* display: flex;
  justify-content: center; */
}

.popup-home-overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 70vw;
  position: relative;
  transition: all 5s ease-in-out;
}

/* .popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
} */

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06d85f;
}

.popup-content {
  max-height: 100%;
  overflow: auto;
}

.popup-yes-and-no {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* ------------------------------ BUTTONS ------------------------------------*/

.standard-button {
  background-color: #db3306;
  color: #ffffff;
  border: none;
  padding: 1rem 1.2rem;
  font-size: 1.05rem;
  cursor: pointer;
  border-radius: 3rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0.5rem 0.5rem 2rem 0.5rem;
  font-family: "Montserrat", sans-serif;

  font-family: Cookie, sans-serif;
  font-size: 29px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
  background: #ffce00;
  mix-blend-mode: normal;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.standard-button:hover {
  opacity: 0.8;
}

.button-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* width: 100vw; */
}
