* {
  margin: 0;
}

body {
  overflow-x: hidden;
}

.swipe-container,
.description-swipe-container {
  --n: 1;
  display: flex;
  align-items: center;
  overflow-y: hidden;
  width: 100%;
  width: calc(var(--n) * 100%);
  height: 50vw;
  max-height: 100vh;
  border: 2px solid red;
  transform: translate(calc(var(--i, 0) / var(--n) * -100%));
  transition: transform 0.3s ease-out;
  position: absolute;
  visibility: hidden;
}

.swipe-container img,
.description-swipe-container div {
  width: 100%;
  width: calc(100% / var(--n));
  pointer-events: none;
}

.display {
  visibility: visible;
  z-index: 5;
  background-color: blue;
}
