<header>

  {{>header}}

</header>

<main>
  <form class="user-form" action="/formsubmit" method="POST">
    <div class="user-input">
      <div class="user-input-inner-wrap">
        <h2>What's your name?</h2>
        <input type="text" placeholder="John" name="userName" />
      </div>
    </div>

    <div class="user-input">
      <div class="user-input-inner-wrap">
        <h2>What's your location?</h2>
        <input type="text" placeholder="SW1A 1AA" name="postcode" class="user-input-postcode" />
      </div>
    </div>

    <div class="user-input">
      <div class="user-input-inner-wrap">
        <h2>What's your friend's name?</h2>
        <input type="text" placeholder="Jane" name="friendName" id="friendName" />
      </div>
    </div>

    <div class="user-input">
      <div class="user-input-inner-wrap">
        <h2>What's <span class="user-input-name"></span>'s location?</h2>
        <input type="text" placeholder="SW1A 2AA" name="friendPostcode" class="user-input-postcode" />
      </div>
    </div>

    <div class="user-input">
      <div class="user-input-inner-wrap">
        <h2>When do you want to meet?</h2>
        <input id="todaydate" type="date" name="date" />
        <input id="todaytime" type="time" name="time" />
      </div>
    </div>

    <div class="user-input">
      <div class="user-input-inner-wrap">
        <h2>What do you want to do?</h2>
        <div class="radio-toolbar">
          <input id="entertainment" type="radio" placeholder="" name="venue" />
          <label for="entertainment">We want to be entertained!</label>

          <input id="restaurant" type="radio" placeholder="" name="venue" />
          <label for="restaurant">We want to enjoy a nice meal.</label>
          <input id="nightlife" type="radio" placeholder="" name="venue" />
          <label for="nightlife">We want to party!</label>
          <input id="coffee" type="radio" placeholder="" name="venue" />
          <label for="coffee">We want to have coffee.</label>
        </div>
      </div>
    </div>
    <div class="user-input">
      <h2>ALMOST DONE!</h2>
      <p class="highlight">Share the link below with <span class="user-input-name"></span> so that you
        can both select your favourite venues.</p>
      <p>Once you've both picked, our sorting gnomes will use their magic to present
        a final meeting venue.</p>
      <p>Don't forget - this link is public and anyone who has the link can view
        your venues. Share it wisely!</p>
      <div>http://randomsharinglink</div>
      <button>Copy</button>
    </div>
    <div style="overflow:auto;">
      <div style="float:right;">
        <div class="button-wrap">
        <button class="button-previous">
          Go Back
        </button>
        <button class="button-next">Next Step</button>
      </div>
      </div>
    </div>
    <div class="step-wrap">
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
  </div>
  </form>
</main>
