<header>

{{>header}}

</header>

<main>

<form class="" method="POST" action="#">
  <label for="first-user-name">What's your name?</label>
  <input class="" type="text" name="first-user-name" placeholder="John" required>
  <label for="first-user-location">What's your location?</label>
  <input class="" type="text" name="first-user-location" placeholder="SW1A 1AA" required>
  <label class="second-user-name">What's your friend's name?</label>
  <input class="" type="text" name="second-user-name" placeholder="Jane" required>
  <label class="second-user-location">What's [your friend's] location?</label>
  <input class="" type="text" name="second-user-location" placeholder="SW1A 2AA" required>
  <label for="time-to-meet">When do you want to meet?</label>
  <input class="" type="date" name="time-to-meet" required>
  <input class="" type="time" name="time-to-meet" required>
  <label for="type-of-event">What do you want to do?</label>
<div name="type-of-event">
  <input class="" id="entertainment" type="radio" name="type-of-event" placeholder="" required>
<label for="entertainment">We want to be entertained!</label>
  <input class="" id="restaurant" type="radio" name="type-of-event" placeholder="" required>
<label for="restaurant">We want to enjoy a nice meal.</label>
  <input class="" id="nightlife" type="radio" name="type-of-event" placeholder="" required>
<label for="nightlife">We want to party!</label>
  <input class="" id="coffee" type="radio" name="type-of-event" placeholder="" required>
<label for="coffee">We want to have coffee.</label>
</div>
</form>

</main>
