<header>

  {{>header}}

</header>

<main>
  <form class="user-form" action="/formsubmit" method="POST">
    <div class="user-input-outer-wrap">
      <h2 class="user-input-title">What's your name?</h2>
      <input class="user-input" type="text" placeholder="John" name="userName" />
      <p class="error" aria-live="polite"></p>
    </div>

    <div class="user-input-outer-wrap">
      <h2 class="user-input-title">What's your postcode?</h2>
      <input class="user-input postcode" type="text" placeholder="SW1A 1AA" name="postcode"  />
      <p class="error" aria-live="polite"></p>
    </div>

    <div class="user-input-outer-wrap">
      <h2 class="user-input-title">What's your <br>friend's name?</h2>
      <input class="user-input" type="text" placeholder="Jane" name="friendName" id="friendName" />
      <p class="error" aria-live="polite"></p>
    </div>

    <div class="user-input-outer-wrap">
      <h2 class="user-input-title">What's <span class="user-input-outer-wrap-name"></span>'s postcode?</h2>
      <input class="user-input postcode" type="text" placeholder="SW1A 2AA" name="friendPostcode"  />
      <p class="error" aria-live="polite"></p>
    </div>

    <div class="user-input-outer-wrap">
      <h2 class="user-input-title">When do you <br>want to meet?</h2>
      <input class="user-input" id="todaydate" type="date" name="date" />
      <input class="user-input" id="todaytime" type="time" name="time" />
      <p class="error" aria-live="polite"></p>
    </div>
    <div class="user-input-outer-wrap">
      <h2 class="user-input-title">What do you want to do?</h2>
      <div class="radio-toolbar">
        <input class="user-input radio-input" id="entertainment" type="radio" placeholder="" name="venue" />
        <label for="entertainment">We want to be entertained!</label>
        <input class="radio-input"id="restaurant" type="radio" placeholder="" name="venue" />
        <label for="restaurant">We want to enjoy a nice meal.</label>
        <input class="user-input radio-input" id="nightlife" type="radio" placeholder="" name="venue" />
        <label for="nightlife">We want to party!</label>
        <input class="user-input radio-input" id="coffee" type="radio" placeholder="" name="venue" />
        <label for="coffee">We want to have coffee.</label>
        <p class="error" aria-live="polite"></p>
      </div>
    </div>

    <div class="button-wrap">
      <button class="standard-button button-previous">
        Go Back
      </button>
      <button class="standard-button button-next">Next Step</button>
    </div>

    <div class="step-wrap">
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
    </div>

  </form>
</main>
