<header class="header">{{> headerNoHelp}}</header>
<main>
  <h1 class="how-it-works-title">How It Works</h1>
  <div class="how-it-works-text-wrap">
    <p>Want to meet up with someone but can’t decide on a location?</p>
    <p class="highlight">We take your frustration away, and find a
      location for you!</p>
    <p>Based on your current locations and preferences, we’ll suggest a
      ist of perfect venues for you and your friend.</p>
    <p>Then, you’ll both have the chance to swipe through and select your
      favourite venues.</p>
    <p>Once we have a match, we’ll show you how to get there, too.</p>
  </div>
  <button class="standard-button" onclick="window.location.href='/'">Go Back</button>
</main>
