<header class="header-wrap">{{> headerNoHelp}}</header>
<main>
  <h1 class="how-it-works-title">How It Works</h1>
  <div class="how-it-works-text-wrap">
    <p>Want to meet up with someone<br>but can’t decide on a location?</p>
    <p class="highlight">We take your frustration away,<br>and find a
      location for you!</p>
    <p>Based on your current locations<br>and preferences, we’ll suggest a
      list<br>of perfect venues for you and your friend.</p>
    <p>Then, you’ll both have the chance to<br>swipe through and select your
      favourite venues.</p>
    <p>Once we have a match,<br>we’ll show you how to get there, too.</p>
  </div>
  <button class="standard-button" onclick="window.location.href='/'">Go Back</button>
</main>
