<header class="header-logo-only">{{> headerNoHelp}}</header>
<main class="main-wrap">
  <h1>Want to meet up with a friend?</h1>
  <p>Great!<br>Tell us where you are and we’ll find a perfect venue<br>that’s smack in the middle of both of you.</p>
  <div class="button-nowrap">
    <button class="standard-button" onclick="window.location.href='/form'">Let's start</button>
    <button class="learn-more" onclick="window.location.href='/howitworks'">Learn more</button>
  </div>
</main>
