<header class="header">{{> headerNoHelp}}</header>
<main>
    <h1>Want to meet up with a friend?</h1>
    <p>Great! Tell us where you are and we’ll find a perfect venue that’s smack in the middle of both of you.</p>
    <button onclick="window.location.href='/howitworks'">Learn More</button>
    <button onclick="window.location.href='/form'">Let's Start</button>

</main>