<h1 class="logo-name">Meet me in <br> the middle</h1>
<header class="header">{{> headerNoHelp}}</header>
<main>
  <h1>Want to<br>meet up with<br>a friend?</h1>
  <p>Great!<br>Tell us where you are<br>and we’ll find a perfect<br>venue that’s smack in<br>the middle of both of you.</p>
  <div class="button-nowrap">
    <button class="standard-button" onclick="window.location.href='/form'">Let's start</button>
    <button class="learn-more" onclick="window.location.href='/howitworks'">Learn more</button>
  </div>
</main>
