<a href="/"><img class="logo" src="/img/compas.svg" alt="Logo"></a>
<h2 class="logo-name">Meet Me In <br> The Middle</h2>
<div class="header-button-wrap" style="visibility:hidden">
    <a class="header-button-link-wrap" href="#popup1"><img class="question-mark" src="./img/help.svg"></a>
</div>
